* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-image: url('/back.jpg');   /*ai*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    /*ai*/
    background-attachment: fixed;    /*ai*/
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 650px;
}
/*تنسيق عنوان اللعبة الرىيسي*/
h1 {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2.2rem;
    text-align: center;
    text-shadow: 0 0 12px rgba(69, 178, 229, 0.9); /*frome net*/
    margin-bottom: 25px;
}



/* الأزرار العلوية */
.top-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-blue {
    background-color: #38bdf8;
    color: #000;
}
.btn-blue:hover {
    background-color: #0284c7;
    color: #fff;
}

.btn-red {
    background-color: #ef4444;
    color: #fff;
}
.btn-red:hover {
    background-color: #b91c1c;
    color: #fff;
}
.hidden {
    display: none !important;
}

/* الوسط: البورد و قاىمة الاصدقاء */
.middel {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/* بورد اللعب (3x3) */
.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
}

.cell {
    background: rgba(204, 251, 241, 1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.cell:hover {
    background-color:#0408ff96;
}


/* قاىمة الأصدقاء */
.online-players {
    width: 100%;
    max-width:360px;
   background: rgba(63, 81, 181, 0.8); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    border-radius: 16px;
    padding: 34px;
}

.online-players h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #94a3b8;
    text-align: center;
    text-shadow: 0 0 12px rgba(56, 189, 248, 0.4);
}

.players-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 120px;
    overflow-y: auto;
}

.player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: #fad2cf;
    padding: 6px 12px;
    border-radius: 6px;
}

.player-item span {
    font-size: 0.9rem;
}
#username {
    font-weight: bold;
    color: #fdfdfd;
    text-shadow: 0 0 12px rgba(148, 219, 249, 0.5);
}

.play-btn {
    background-color: #38bdf8;
    color: #000;
    border: none;
    padding: 4px 14px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
    display: inline-block;
}

.play-btn:hover {
    background-color: #0284c7;
    color: #fff;
}


/*حقل بحث عن الاصدقاء */
.search-container {
    display: flex;
    gap: 8px;
    padding: 10px;
    margin-bottom: 14px;
    width: 100%;
    
}

/* حقل البحث */
.search-box {
    flex: 1;
    padding: 10px 14px;
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 8px;
    color: #f8fafc;
    font-size: 0.9rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.search-box:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.25);
}

/* دكمة البحث */
.search-btn {
    background-color: #38bdf8;
    color: #000;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.85rem;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.search-btn:hover {
    background-color: #0284c7;
    color: #fff;
}

.modal-card {
   background: rgb(23, 29, 74); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    border-radius: 16px;
    padding: 40px 60px;        
    width: 330px;                     
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}


.modal-card h3 {
    font-size: 1.5rem;         
    margin-bottom: 12px;
    
}
#win-h3 {
    color: #38bdf8; 
    text-shadow: 0 0 12px rgba(0, 175, 250, 0.5);           
}

#lose-h3 {
    color: #ef4444; 
    text-shadow: 0 0 12px rgba(248, 56, 56, 0.5);           
}

#draw-h3 {
    color: #f59e0b; 
    text-shadow: 0 0 12px rgba(245, 158, 11, 0.5);           
}

/* الوصف*/
.modal-card p {
    font-size: 1rem;           
    margin-bottom: 20px;
    color: #cbd5e1;
}

/*  الأزرار */
.modal-actions {               
    display: flex;
    justify-content: center;
    gap: 12px;
                   
}

.modal-card button {
    position: relative;
    z-index: 10000;
    margin: 0 auto;
    width: min(90%, 340px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    padding: 10px 10px;        
    font-size: 0.95rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #38bdf8;
}
.modal-card button:hover {
    background-color: #0284c7;
    color: #fff;
}

#requestUsername {
    font-weight: bold;
    color: #38bdf8;
}
#joinRequestTitle {
    font-size: 1.5rem;         
    margin-bottom: 12px;
    color: #42a8a6;            
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(4px);             
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
/* حقل انشاء اسم المستخدم */
.create-username-container {
    display: flex;
    gap: 8px;
    padding: 10px;
    margin-bottom: 14px;
    width: 100%;
}

.create-box{
    flex: 1;
    padding: 10px 14px;
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 8px;
    color: #f8fafc;
    font-size: 0.9rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.create-box:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.25);
}
/* دكمة انشاء اسم المستخدم */
.create-btn {
    background-color: #38bdf8;
    color: #000;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.85rem;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.create-btn:hover {
    background-color: #0284c7;
    color: #fff;
}

/* تنسيق بطاقة المودال نفسها لترتيب المحتوى في المنتصف */
.animation-card {
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: #0f172a; 
    border: 1px solid #1e293b;  
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); /* ظل يعطي عمقاً للنافذة */
    gap: 15px;        
    width: 330px;                     
    text-align: center;
}
/* تنسيق الانميشن */
.vanilla-animation {
    width: 150px;   
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* تنسيق نص الانتظار */
#modalMessage {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 0 12px rgba(56, 189, 248, 0.4);
    margin: 0;
}